*{
    box-sizing: border-box;
    justify-content: center;
    align-items:center ;
    margin: 0;
    padding: 0;
}
.details-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.details-content.show {
    max-height: 100px;
}